<header class="header-principal">
    <div class="logo">
        <span class="icon">⚖️</span>
        <h1>Thaenna Bruna</h1>
    </div>
    <nav>
        <a href="/">Início</a>
        <a href="/index#about">Sobre</a>
        <a href="/Index#practice">Áreas de Atuação</a>
        <a href="/Blog">Blog Jurídico</a>
    </nav>
</header>